<div class="container main-container">
    <h4>Demo cadastro</h4>
    <hr>
    <form novalidate>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="nome" placeholder="Nome (requrido)">   
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="cpf">CPF</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="cpf" placeholder="">   
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="email">E-mail</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="email" placeholder="teste@dominio">   
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <button class="btn btn-success" id="registrar" type="submit">Registrar</button>  
                </div>
            </div>
        </div>
    </form>
</div>